<a href="https://colab.research.google.com/github/samia-101245/Dead-code-detection-and-elimination-project/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python**
**List of Topics**

---


1. Python Variable
2. Python Type Conversion
3. Python Input Output
4. Arithmetic Operators in Python
5. Comparison Operators
6. Logical Operators
7. Python if…else Statement
8. Python if…elif…else Statement
9. Python Nested if Statements
10. Python for Loop
11. Python Nested for Loop
12. Python Mathematics
13. Python List
14. Python Tuple
15. List Tuple Conversion
16. Python String
17. Python Set
18. Python Dictionary
19. Python Function

**Python Variables**

In [1]:
# Variable Declaration and Assignment
name = "John"
age = 30
height = 6.1
is_student = False

# Outputting variable values
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)

Name: John
Age: 30
Height: 6.1
Is Student: False

In [2]:
# Variable Reassignment
name = "Alice"
age = 25

# Updated Output
print("Updated Name:", name)
print("\nUpdated Age:", age)

Updated Name: Alice

Updated Age: 25

In [3]:
# Variable Types
print("Variable Types:")
print("Type of name:", type(name))
print("Type of age:", type(age))
print("Type of height:", type(height))
print("Type of is_student:", type(is_student))

Variable Types:
Type of name: <class 'str'>
Type of age: <class 'int'>
Type of height: <class 'float'>
Type of is_student: <class 'bool'>

In [4]:
# Variable Operations
a = 10
b = 5
sum_result = a + b
difference_result = a - b
product_result = a * b
division_result = a / b

# Outputting Results
print("Operations:")
print("Sum:", sum_result)
print("Difference:", difference_result)
print("Product:", product_result)
print("Division:", division_result)

Operations:
Sum: 15
Difference: 5
Product: 50
Division: 2.0

**Python Type Conversion**

In [5]:
num_string = '12'
num_integer = 23

print("Data type of num_string before Type Casting:",type(num_string))

num_string = int(num_string)

print("Data type of num_string after Type Casting:",type(num_string))

num_sum = num_integer + num_string

print("Sum:",num_sum)
print("Data type of num_sum:",type(num_sum))

Data type of num_string before Type Casting: <class 'str'>
Data type of num_string after Type Casting: <class 'int'>
Sum: 35
Data type of num_sum: <class 'int'>

In [6]:
num1 = int(2.3)
print(num1)

num2 = int(-2.8)
print(num2)

num3 = float(5)
print(num3)

num4 = complex('3+5j')
print(num4)

2
-2
5.0
(3+5j)

**Python Input and Output**

In [8]:
# Input
name = input("Enter your name: ")
age = int(input("Enter your age: "))

year_of_birth = 2024 - age

# Output
print("Hello, " + name + "!")
print("You are", age, "years old.")
print("You were born in the year", year_of_birth)

Enter your name: tanha
Enter your age: 25
Hello, tanha!
You are 25 years old.
You were born in the year 1999

**Arithmetic Operators in Python**

In [9]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)

# subtraction
print ('Subtraction: ', a - b)

# multiplication
print ('Multiplication: ', a * b)

# division
print ('Division: ', a / b)

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)

# a to the power b
print ('Power: ', a ** b)

# assignment operator
a += b      # a = a + b
print (a)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49
9

**Comparison Operators**

In [10]:
a = 5
b = 2

# equal to operator
print('(a == b)--> ', a == b)

# not equal to operator
print('(a != b)--> ', a != b)

# greater than operator
print('(a > b)--> ', a > b)

# less than operator
print('(a < b)--> ', a < b)

# greater than or equal to operator
print('(a >= b)--> ', a >= b)

# less than or equal to operator
print('(a <= b)--> ', a <= b)

(a == b)-->  False
(a != b)-->  True
(a > b)-->  True
(a < b)-->  False
(a >= b)-->  True
(a <= b)-->  False

**Logical Operators**

In [11]:
# logical AND
print(True and True)
print(True and False)

# logical OR
print(True or False)

# logical NOT
print(not True)

True
False
True
False

**Python if…else Statement**

In [12]:
number = 10

if number > 0:
    print('Positive number')

else:
    print('Negative number')

print('This statement always executes')

Positive number
This statement always executes

**Python if…elif…else Statement**

In [13]:
number = 0

if number > 0:
    print('Positive number')

elif number <0:
    print('Negative number')

else:
    print('Zero')

print('This statement is always executed')

Zero
This statement is always executed

**Python Nested if Statements**

In [14]:
number = 5

# outer if statement
if number >= 0:
    # inner if statement
    if number == 0:
      print('Number is 0')

    # inner else statement
    else:
        print('Number is positive')

# outer else statement
else:
    print('Number is negative')

Number is positive

**Python for Loop**

In [15]:
# iterate from i = 0 to i = 3
for i in range(4):
    print(i)

0
1
2
3

In [16]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    # Print each number multiplied by 2
    print(num * 2)

2
4
6
8
10

In [17]:
languages = ['Swift', 'Python', 'Go']

for i in languages:
    print(i)

Swift
Python
Go

In [18]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [19]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

**Python Nested for Loop**

In [20]:
# Define a list of fruits
fruits = ["apple", "banana", "cherry"]

# Define a list of colors
colors = ["red", "yellow", "black"]

# Nested loop to combine each fruit with each color
for fruit in fruits:
    for color in colors:
        print(fruit, color)

apple red
apple yellow
apple black
banana red
banana yellow
banana black
cherry red
cherry yellow
cherry black

**Python Mathematics**

In [21]:
import math

# Trigonometric functions
print("\nTrigonometric Functions:")
print("Sine of 30 degrees:", math.sin(math.radians(30)))
print("Cosine of 30 degrees:", math.cos(math.radians(30)))
print("Tangent of 30 degrees:", math.tan(math.radians(30)))

# Logarithmic and exponential functions
print("\nLogarithmic and Exponential Functions:")
print("Natural Logarithm (base e) of 2:", math.log(2))
print("Logarithm base 10 of 100:", math.log10(100))
print("Exponential of 2:", math.exp(2))

# Constants
print("\nConstants:")
print("Value of pi:", math.pi)
print("Value of e:", math.e)

Trigonometric Functions:
Sine of 30 degrees: 0.49999999999999994
Cosine of 30 degrees: 0.8660254037844387
Tangent of 30 degrees: 0.5773502691896257

Logarithmic and Exponential Functions:
Natural Logarithm (base e) of 2: 0.6931471805599453
Logarithm base 10 of 100: 2.0
Exponential of 2: 7.38905609893065

Constants:
Value of pi: 3.141592653589793
Value of e: 2.718281828459045

**Python List**

In [22]:
colors = ['Red', 'Black', 'Green']

# Print the original list
print("Original list of colors:", colors)

Original list of colors: ['Red', 'Black', 'Green']

In [23]:
# Accessing elements in the list
print("First color:", colors[0])
print("Last color:", colors[2])
print("Last color:", colors[-1])
print("Sliced colors:", colors[1:])

First color: Red
Last color: Green
Last color: Green
Sliced colors: ['Black', 'Green']

In [24]:
colors[0] = 'Blue'
print("Modified list after changing the first color to Blue:", colors)

Modified list after changing the first color to Blue: ['Blue', 'Black', 'Green']

In [25]:
colors.append('Yellow')
print("List after appending Yellow:", colors)

List after appending Yellow: ['Blue', 'Black', 'Green', 'Yellow']

In [26]:
colors.insert(1, 'White')
print("List after inserting White at index 1:", colors)

List after inserting White at index 1: ['Blue', 'White', 'Black', 'Green', 'Yellow']

In [27]:
colors.remove('Black')
print("List after removing Black:", colors)

List after removing Black: ['Blue', 'White', 'Green', 'Yellow']

In [28]:
# List operations
print("Number of colors in the list:", len(colors))
print("Reversed list of colors:", list(reversed(colors)))

Number of colors in the list: 4
Reversed list of colors: ['Yellow', 'Green', 'White', 'Blue']

In [29]:
my_list = [2, 1, 4, 5, 3]
print("Sorted list of colors:", sorted(my_list))

Sorted list of colors: [1, 2, 3, 4, 5]

In [30]:
# Checking if an element is in the list
print("Is 'Green' present in the list?", 'Green' in colors)

Is 'Green' present in the list? True

In [31]:
# Iterating over the list
print("Iterating over the list of colors:")
for color in colors:
    print(color)

Iterating over the list of colors:
Blue
White
Green
Yellow

**Python Tuple**

In [32]:
# Define a tuple
my_tuple = (1, 2, 3, 'a', 'b', 'c')

# Accessing elements of a tuple
print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])
print("Slicing tuple:", my_tuple[2:5])

First element: 1
Last element: c
Slicing tuple: (3, 'a', 'b')

In [33]:
# Length of a tuple
print("Length of tuple:", len(my_tuple))

Length of tuple: 6

In [34]:
# Check if an item exists in a tuple
print("Is 'a' in the tuple?", 'a' in my_tuple)

Is 'a' in the tuple? True

In [35]:
# Iterate through a tuple
print("Iterating through the tuple:")
for item in my_tuple:
    print(item)

Iterating through the tuple:
1
2
3
a
b
c

**List Tuple Conversion**

In [36]:
fruits = ('apple','banana','orange')

In [37]:
# Convert a tuple to a list
tuple_as_list = list(fruits)
print("Tuple converted to list:", tuple_as_list)

Tuple converted to list: ['apple', 'banana', 'orange']

In [38]:
# Convert a list to a tuple
list_as_tuple = tuple(tuple_as_list)
print("List converted to tuple:", list_as_tuple)

List converted to tuple: ('apple', 'banana', 'orange')

**Python String**

In [40]:
# join two string
greet = "Hello "
name = "World"

# using + operator
result = greet + name
print(result)

Hello World

In [39]:
greet = 'Hello'

# iterating through greet string
for letter in greet:
    print(letter)

H
e
l
l
o

In [41]:
greet = 'Hello'

# count length of greet string
print(len(greet))

5

**Python Set**

In [42]:
# Creating a set
toys = {'car', 'plane', 'animal'}
print("Initial set:", toys)

Initial set: {'car', 'plane', 'animal'}

In [43]:
# Adding elements to a set
toys.add('doll')
print("After adding 'doll':", toys)

After adding 'doll': {'car', 'doll', 'plane', 'animal'}

In [44]:
# Removing elements from a set
toys.remove('animal')
print("After removing 'plane':", toys)

After removing 'plane': {'car', 'doll', 'plane'}

In [45]:
# Checking membership in a set
print("Is 'car' in the set?", 'car' in toys)
print("Is 'ball' in the set?", 'ball' in toys)

Is 'car' in the set? True
Is 'ball' in the set? False

In [46]:
# Set operations: union, intersection, difference
other_toys = {'bat', 'train', 'doll'}
print("Union:", toys.union(other_toys))
print("Intersection:", toys.intersection(other_toys))
print("Difference:", toys.difference(other_toys))

Union: {'bat', 'car', 'train', 'doll', 'plane'}
Intersection: {'doll'}
Difference: {'car', 'plane'}

In [47]:
# Length of a set
print("Length of the set:", len(toys))

Length of the set: 3

In [48]:
# Clearing a set
toys.clear()
print("Cleared set:", toys)

Cleared set: set()

**Python Dictionary**

In [49]:
# Creating an empty dictionary
my_dict = {}

# Adding key-value pairs to the dictionary
my_dict['name'] = 'John'
my_dict['age'] = 30
my_dict['gender'] = 'male'

In [50]:
# Printing the dictionary
print("Dictionary:", my_dict)

Dictionary: {'name': 'John', 'age': 30, 'gender': 'male'}

In [51]:
# Accessing value using key
print("Value for key 'name':", my_dict['name'])

Value for key 'name': John

In [52]:
# Checking if a key exists
if 'age' in my_dict:
    print("'age' is present in the dictionary.")
else:
    print("'age' is not present in the dictionary.")

'age' is present in the dictionary.

In [53]:
# Removing a key-value pair
removed_value = my_dict.pop('age')
print("Removed value:", removed_value)
print("Dictionary after removing 'age':", my_dict)

Removed value: 30
Dictionary after removing 'age': {'name': 'John', 'gender': 'male'}

In [54]:
# Iterating through keys and values
print("Keys:")
for key in my_dict:
    print(key)

Keys:
name
gender

In [55]:
print("Values:")
for value in my_dict.values():
    print(value)

Values:
John
male

In [56]:
# Checking the length of the dictionary
print("Length of dictionary:", len(my_dict))

Length of dictionary: 2

In [57]:
# Clearing the dictionary
my_dict.clear()
print("Dictionary after clearing:", my_dict)

Dictionary after clearing: {}

**Python Function**

In [58]:
# function with two arguments
def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ", sum)

# function call
add_numbers(5, 4)

Sum:  9

In [59]:
def find_square(num):
    result = num * num
    return result

square = find_square(3)
print('Square:', square)

Square: 9